@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url(http://fonts.googleapis.com/css?family=Raleway);
 /*html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}*/
body {
    font-family:'Raleway';
}

#pomodoro-title {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 75px;
}

#timer-display {
  font-size: 150px;
}

ul {
  list-style-type: none;
}

.btn-info {
  background-color: #DF6659;
  border-color: #AD473C;
}
